<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="database.data.CreatorMapper">

    <sql id="createPlan">
        create table if not exists plan (
            `id` int primary key auto_increment,
            `name` varchar(30),
            `cost` decimal(11,3),
            `callMinutes` int,
            `sms` int,
            `localData` float,
            `domesticData` float
        );
    </sql>
    <sql id="createUser">
        create table if not exists user (
            `id` int primary key auto_increment,
            `name` varchar(30),
            `basicCostId` int,
            `phoneNumber` varchar(15)
        );
    </sql>
    <sql id="createUserPlanSubscription">
        create table if not exists userplansubscription (
            `transactionId` int primary key,
            `userId` int,
            `planId` int,
            `activateTime` datetime,
            `orderTime` datetime,
            `deactivateTime` datetime
        );
    </sql>
    <sql id="createUserPlanTransaction">
        create table if not exists userplantransaction (
            `transactionId` int primary key auto_increment,
            `userId` int,
            `planId` int,
            `time` datetime,
            `action` enum('ORDER_IMMEDIATELY', 'ORDER_NEXT_MONTH', 'CANCEL_IMMEDIATELY', 'CANCEL_NEXT_MONTH')
        );
    </sql>
    <sql id="createUsage">
        create table if not exists `usage` (
            `userId` int,
            `amount` float,
            `startTime` datetime,
            `serviceType` enum('CALL', 'SMS', 'LOCAL_DATA', 'DOMESTIC_DATA')
        );
    </sql>

    <sql id="createBasicCost">
        create table if not exists basiccost (
            `id` int primary key auto_increment,
            `callCost` decimal(11, 3),
            `smsCost` decimal(11, 3),
            `localDataCost` decimal(11, 3),
            `domesticDataCost` decimal(11, 3)
        );
    </sql>

    <insert id="createAllTables">
        <include refid="createPlan"/>
        <include refid="createUser"/>
        <include refid="createUserPlanSubscription"/>
        <include refid="createUserPlanTransaction"/>
        <include refid="createUsage"/>
        <include refid="createBasicCost"/>
    </insert>

    <insert id="insertPlan" parameterType="Plan" useGeneratedKeys="true" keyProperty="id">
        insert into plan(name, cost, callMinutes, sms, localData, domesticData) VALUE (#{name}, #{cost}, #{callMinutes}, #{sms}, #{localData}, #{domesticData});
    </insert>
    <insert id="insertBasicCost" parameterType="BasicCost" useGeneratedKeys="true" keyProperty="id">
        insert into basiccost(callCost, smsCost, localDataCost, domesticDataCost) VALUES (#{callCost}, #{smsCost}, #{localDataCost}, #{domesticDataCost});
    </insert>
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(name, basicCostId, phoneNumber) VALUES (#{name}, #{basicCostId}, #{phoneNumber});
    </insert>

    <delete id="dropAllTables">
        drop table if exists plan, user, userplansubscription, userplantransaction, `usage`, basiccost;
    </delete>
</mapper>