<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="database.data.CreatorMapper">

    <sql id="createPlan">
        create table if not exists plan (
            `planId` int primary key auto_increment,
            `name` varchar(30),
            `cost` decimal(11,3),
            `callMinutes` int,
            `sms` int,
            `localData` float,
            `domesticData` float
        );
    </sql>
    <sql id="createUser">
        create table if not exists user (
            `userId` int primary key auto_increment,
            `name` varchar(30),
            `basicCost` int
        );
    </sql>
    <sql id="createUserPlan">
        create table if not exists userplan (
            `userId` int,
            `planId` int,
            `activateTime` datetime,
            `orderTime` datetime
        );
    </sql>
    <sql id="createUserPlanTransaction">
        create table if not exists userplantransaction (
            `transactionId` int primary key auto_increment,
            `userId` int,
            `planId` int,
            `time` datetime,
            `action` enum('ORDER_IMMEDIATELY', 'ORDER_NEXT_MONTH', 'CANCEL_IMMEDIATELY', 'CANCEL_NEXT_MONTH')
        );
    </sql>
    <sql id="createDataUsage">
        create table if not exists datausage (
            `userId` int,
            `dataType` enum('LOCAL','DOMESTIC'),
            `duration` float,
            `startTime` datetime,
            `endTime` datetime
        );
    </sql>
    <sql id="createCallUsage">
      create table if not exists callusage (
          `userId` int,
          `duration` int,
          `startTime` datetime,
          `endTime` datetime
      );
    </sql>
    <sql id="createSmsUsage">
        create table if not exists smsusage (
            `userId` int,
            `time` datetime
        );
    </sql>
    <sql id="createBasicCost">
        create table if not exists basiccost (
            `id` int primary key auto_increment,
            `callCost` decimal(11,3),
            `smsCost` decimal(11,3),
            `localDataCost` decimal(11, 3),
            `domesticDataCost` decimal(11, 3)
        );
    </sql>

    <insert id="createAllTables">
        <include refid="createPlan"/>
        <include refid="createUser"/>
        <include refid="createUserPlan"/>
        <include refid="createUserPlanTransaction"/>
        <include refid="createDataUsage"/>
        <include refid="createCallUsage"/>
        <include refid="createSmsUsage"/>
        <include refid="createBasicCost"/>
    </insert>

    <insert id="insertPlan" parameterType="Plan" useGeneratedKeys="true" keyProperty="planId">
        insert into plan(name, cost, callMinutes, sms, localData, domesticData) VALUE (#{name}, #{cost}, #{callMinutes}, #{sms}, #{localData}, #{domesticData});
    </insert>
    <insert id="insertBasicCost" parameterType="BasicCost" useGeneratedKeys="true" keyProperty="id">
        insert into basiccost(callCost, smsCost, localDataCost, domesticDataCost) VALUES (#{callCost}, #{smsCost}, #{localDataCost}, #{domesticDataCost});
    </insert>
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
        insert into user(name, basicCost) VALUES (#{name}, #{basicCost});
    </insert>

    <delete id="dropAllTables">
        drop table if exists plan, user, userplan, userplantransaction, datausage, callusage, smsusage, basiccost;
    </delete>
</mapper>