<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="default" providerName="System.Data.SqlClient"
          connectionString="Server=MSI-VICCRUBS\SQLEXPRESS;Database=master;Trusted_Connection=True;Integrated Security=SSPI;" />
  </connectionStrings>
</configuration>